body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 62.5%; /* We will use a 10 pixel baseline font size for ease of calculating */
	width: 100%;
}
#wrapper {
	width: 86%;
	background-image: none;
	margin: 7%;
}
#wrapper, #wrapper #content {
	float: none !important;
	padding: 0;
}
#wrapper #content {
	width: auto;
	margin: 0;
}
#wrapper #content a {
	color: black;
}
#content p, #content li {
	font-size: 1.2em; /* 12px */
	line-height: 1.5em; /* 18px */
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 1.8em;
	line-height: 1em;
	margin-bottom: 1em;
}
h2 {
	font-size: 1.8em;
	line-height: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 1em;
}
h2 span {
	border-bottom: 1px solid #dddedf;
	padding-right: 1em;
}
h3 {
	font-size: 1.6em;
	line-height: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1.125em;
}
h4 {
	font-size: 1.4em; /* 14px */
	line-height: 1.285em;
	font-weight: bold;
	margin-bottom: 1.285em;
}
h5 {
	font-size: 1.3em; /*13px*/
	line-height: 1.385em; /*18px*/
	font-weight: bold;
	margin-bottom: 1.385em;
}
h6 {
	font-size: 1.3em; /*13px*/
	line-height: 1.385em; /*18px*/
	margin-bottom: 1.385em;
}
table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	width: 100% !important;
}
table a {
	text-decoration: none;
}
tr, th, td {
	text-align: left;
	width: auto;
	height: auto;
}
th, td {
	padding: .5em 1em;
}
th {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid thin #e0e0e0;
	padding-top: 1em;
}

#wrapper #banner {
	border-top: solid thin gray;
	border-bottom: solid thin gray;
	padding: .167em 0;
	margin-bottom: 1.8em;
}
#wrapper #banner h1, #wrapper #banner h2 {
	font-size: 1.2em;
	line-height: 1.5em;
	color: gray;
	text-indent: 0;
	width: auto;
	height: auto;
	position: relative;
	top: auto;
	left: auto;
	margin: 0;
}
#skipNav, #nav, #leftCol, #secondNavWrapper, #breadCrumbs, fieldset { /* hide navigation for the print version */
	display: none;
}
#content, #rightCol {
	width: 100%;
	position: relative;
	float: none;
	padding: 0;
	margin: 0;
}
#content p, #content li {
	font-size: 1.2em; /* 12px */
	line-height: 1.5em; /* 18px */
}
#footer {
	padding-top: 3.6em;
}
#footer img {
	display: none;
}
#rightCol p a, #rightCol li a {
	text-decoration: none;
	border-bottom: none;
}
